<div class="content">

  <mat-card style="width: 100%;" class="example-container">

    <mat-card-title>Title</mat-card-title>

    <form [formGroup]="form">
      <mat-form-field>
        <input matInput placeholder="Nome do empregado">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Selecionar turno">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
      <button color="primary" mat-raised-button (click)="onSubmit(form)">Adicionar</button>
    </form>

  </mat-card>

</div>
