<div class="content">

  <mat-card style="width: 100%;" class="example-container">

    <mat-card-title>Title</mat-card-title>

    <form [formGroup]="form">
      <mat-form-field>
        <input matInput placeholder="Nome do empregado" formControlName="nome">
        <mat-error *ngIf="form.get('nome').invalid">Nome do empregado eh obrigatorio!</mat-error>
      </mat-form-field>

      <app-filter (emitter)="onSelect($event)"></app-filter>

      <button [disabled]="form.invalid" color="primary" mat-raised-button (click)="onSubmit()">Adicionar</button>
    </form>

  </mat-card>

</div>
